.whole{
  justify-content: space-between;
  display: flex;
}
.part{
  margin-top: 400px;
  width: 30%;
  box-shadow: 5px 5px 3px#888888;
  border: solid #888888;
}

img{
  width: 100%;
}

.devide{
  font-size: 14px;
  display: inline-block;
  margin: 15px 0px 0px;
  color: #fff;
  background: #008888;
}

.description{
  font-size: 18px;
  margin: 0px 0px 30px;
}

.align{
  justify-content: flex-end;
  display: flex;
  font-size: 14px;
}

.tag{
  display: block;
  padding: 0px 0px 15px;
  color: #008888;
}

.date{
  display: block;
}