a{
  display: block;
  width:200px;
  padding:10px 0px;
  border-radius:30px;
  margin:100px auto 0px;
  text-align: center;
  color: #fff;
  background:linear-gradient(90deg,#ff5800 , #8b00be);
  box-shadow:0px 5px 0px rgba(255, 0, 0, 0.2);
}